
@{
    ViewBag.Title = "Accomodations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content accomodations">
    <div class="page-title">
        <h2>Accomodations</h2>
        <p class="italic">locations <span>&</span> links</p>
    </div>

    <div class="text">
        <p>
            Block rooms have been set aside at the following downtown hotels: InterContinental Yorkville and Marriott Courtyard Downtown. Both are in walking distance to our reception venue, The One Eighty. Reservations may be made any time before July 29th. Reservation links are provided below, if you would rather call to make a reservation, please identify that you are a part of the Rosentzveig & Sigal wedding, as well as supply them with the corresponding block code.
        </p>
    </div>

    <div class="flex text">
        <div class="intercontinental">
            <h3>Intercontinental Yorkville</h3>
            <p class="italic">220 Bloor Street West, M5S 1T8</p>

            <p>reception: <a href="tel:4169605200">416-960-5200</a></p>
            <p>reservations: <a href="tel:18002670010">1-800-267-0010</a></p>

            <p>Block Code: D8K</p>

            <p>Block Dates: Friday Aug 28th, Saturday Aug 29th, Sunday Aug 30th, Monday Aug 31st</p>
            <p class="italic">Cancellation: reservations may be cancelled up until 24 hours prior to arrival</p>

            <a class="text-link" href="/">www.link.ca</a>
        </div>
        <div class="marriot">
            <h3>Intercontinental Yorkville</h3>
            <p class="italic">220 Bloor Street West, M5S 1T8</p>

            <p>reception: <a href="tel:4169605200">416-960-5200</a></p>
            <p>reservations: <a href="tel:18002670010">1-800-267-0010</a></p>

            <p>Block Code: D8K</p>

            <p>Block Dates: Friday Aug 28th, Saturday Aug 29th, Sunday Aug 30th, Monday Aug 31st</p>
            <p class="italic">Cancellation: reservations may be cancelled up until 24 hours prior to arrival</p>

            <a class="text-link" href="/">www.link.ca</a>
        </div>
    </div>
    <div class="map">
        <img src="~/Images/map-hotels-ombre.png" alt="Map to Hotels" />
    </div>
</div>