
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content details">
    <div class="ceremony page-title">
        <div class="title">
            <h2>Ceremony</h2>
            <p class="italic">ceremony <span>&</span> brunch</p>
        </div>
        <div class="date">
            <h3>Sunday August 30th, 2020</h3>
            <p class="italic">ten am until three pm</p>
        </div>
        <div class="description">
            <p>Join us for an al fresco morning ceremony and brunch. Welcome drinks will be served at 10:00am prior to commencing the ceremony. Dress code is semi-formal. </p>
        </div>
        <div class="address">
            <h3>Graydon Hall Manor</h3>
            <p class="italic">185 Graydon Hall Drive, Toronto</p>
        </div>
    </div>
    <div class="reception">
        <div class="title">
            <h2>Reception</h2>
            <p class="italic">cocktails <span>&</span> dancing</p>
        </div>
        <div class="date">
            <h3>Sunday August 30th, 2020</h3>
            <p class="italic">nine pm until two am</p>
        </div>
        <div class="description">
            <p>Help us celebrate from 9:00pm onwards with lots of drinks, dancing, and a beatiful view. Dress code is semi-formal.</p>
        </div>
        <div class="address">
            <h3>The One Eighty</h3>
            <p class="italic">55 Bloor Sreet W, 51<span>st</span> floor, Toronto</p>
        </div>
    </div>
</div>
