
@{
    ViewBag.Title = "Directions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content directions">
    <div class="page-title">
        <h2>Directions</h2>
        <p class="italic">details <span>&</span> maps</p>
    </div>

    <div class="graydon flex">
        <div class="left">
            <img src="~/Images/map-graydon-ombre.png" alt="Map to Graydon" />
        </div>
        <div class="right">
            <div class="address">
                <h3>Graydon Hall Manor</h3>
                <p class="italic">185 Graydon Hall Drive, Toronto</p>
            </div>

            <p>
                The entrance to Graydon Hall Manor is on the west side of Graydon Hall Drive. Parking will be available in the lot located closest to the building.
            </p>
        </div>
    </div>
    <div class="oneeighty flex">
        <div class="left">
            <img src="~/Images/map-180-ombre.png" alt="Map to The 180" />
        </div>
        <div class="right">
            <div class="address">
                <h3>The One Eighty</h3>
                <p class="italic">55 Bloor Street West, 51st Floor, Toronto</p>
            </div>
            <p>
                The entrance to The One Eighty is located in the Manulife centre on the 2nd floor.
                <br><br>
                Enter the building from Bloor Street and take the escalator up to the 2nd floor. Exit the escalator to the right, and follow the hallway on your left to lead you to The One Eighty private elevator.
                <br><br>
                Parking is available underneath the building. The entrance to the parking garage is on the North side of Charles Street, East of Bay Street. There are three levels of parking available. For convenience, park on any level at the South end of the garage, as this will be closest to the South elevators. Take the South elevators to the 2nd floor and upon exiting the elevator, make a right down the hallway towards The One Eighty private elevator.
            </p>
        </div>
    </div>
</div>