@model RSVP.Infrastucture.Models.ViewModels.EventViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content landing-page">
    <div class="center">
        <img  class="leaf" src="~/Images/leaf.jpg" alt="Leaf Image" />
        <div class="border">
            <div class="box-content">
                <img src="/Images/emblem.svg" alt="J & B" />
                <div class="text">
                    <h1>
                        JORDANA <span>and</span> BARUCH
                    </h1>
                </div>
            </div>
        </div>
        <img class="petals" src="~/Images/petals.jpg" alt="Petals Image" />
    </div>
</div>


@*@foreach (var Event in Model.Events)
{
    <p>@Event.Title</p>
    foreach (var GuestEvent in Model.GuestEventJunctions)
    {
        if (GuestEvent.EventID == Event.EventID)
        {
            foreach (var Guest in Model.Guests)
            {
                if (Guest.GuestID == GuestEvent.GuestID)
                {
                    <p>@Guest.FirstName @Guest.LastName</p>
                }
            }
        }
    }
}*@