@model RSVP.Infrastucture.Models.ViewModels.EventViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
@foreach (var Event in Model.Events)
{
    <p>@Event.Title</p>
    foreach (var GuestEvent in Model.GuestEventJunctions)
    {
        if (GuestEvent.EventID == Event.EventID)
        {
            foreach (var Guest in Model.Guests)
            {
                if (Guest.GuestID == GuestEvent.GuestID)
                {
                    <p>@Guest.FirstName @Guest.LastName</p>
                }
            }
        }
    }
}